 #hero_section, #header-section,#header-navbar, #section-header{
    background-color: rgba(44, 62, 80, 255) ;
}
#button-hero-section{
   background-color:  rgba(44, 60, 100, 255);
}
 #header-section, .nav-link{
    color: white;
}
#logo-img{
    max-width: 200px;

}
.navbar-toggler:focus{
    box-shadow: none;
}
